# Data Science Tools and Ecosystems

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular development tools for Data Science
* Create tables in Mark Down Cell in Jupytor Notebook
* Create and execute artihmetic expressions in Jupytor Notebook

In this notebook, data science tools and ecosystems are summarised

Some of the popular languages data sciencentists use are
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot

| Data Science Tools |
| ----------------- |
|Apache SparkSQL|
| MySQL |
| Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
##This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Bo Madsen